*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    background-image: url("assets/backgroundhd.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <- esto hace que el fondo se mantenga estático */
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px; /*Para evitar problemas en pantallas ultra anchas*/
    margin: 0 auto; /*Distribuir equitativamente los margenes a la izquierda y a la derecha*/
}

#logo_principal {
    width: 300px;
}

.gens{
    display: flex;
    width: 260px;
    justify-content: space-around; /*Para un mejor espacio entre ellos*/
}

.gens button {
    background-color: rgb(255, 255, 255);
    color: rgb(122, 200, 252);
    border: 0;
    height: 30px;
    width: 77px;
    border-radius: 6px;
    font-size: 15px;
  
    transition:
      background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
      border 0.05s cubic-bezier(0.25, 0.8, 0.25, 1),
      color 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

.gens button:hover{
    border: solid 2px #396cf7;
    box-shadow: 0px 4px 10px rgba(31, 60, 140, 0.2);
}

#btn-gen1{
    background-color: #1b357c;
}

.gens button:hover{
    cursor: pointer;
}

#main-area{
    min-height: calc(100vh - 350px);;
}

/* area pokemons */
#search-container {
    margin: 90px auto 0;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    width: 450px;
    height: 50px;
    border-radius: 40px;
    padding-left: 15px; /* Espacio interno */
}
  
#search-container img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
  
#search-container select {
    width: 100%; /* Toma todo el ancho restante */
    margin-right: 0px;
    height: 100%;
    border: none;
    border-radius: 40px;
    outline: none;
    appearance: none;
    padding-left: 15px; /* Espacio interno a la izquierda */
}

#search-container select:hover {
    background-color: whitesmoke;             /* Un poco más oscuro al pasar el mouse */
}

#error-section{
    padding: 200px;
    width: 100vw;
    justify-content: center;
    display: flex;
    color:#242030;
    display: none;
}

#error-text{
    display: flex;
}

#cards{
    max-width: 1200px;
    margin: 90px auto 0;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 40px 150px;
    gap: 3vw;
    justify-content: center;
}

.pokemons-cards{
    font-size: 10px;
    max-width: 280px;
    border-radius: 9px;
    height: auto;
}

.image{
    position: relative;
    height: 200px;
    background-color: #ffffff73;
    text-align: center;
    border-radius: 9px 9px 0px 0px;
}

.image h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #a09fbb;
}

.image img{
    width: 200px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.pokdesc{
    width: 100%;
    background-color: #242030;
    color: aliceblue;
    padding: 15px;
    border-radius: 0px 0px 9px 9px;
}

.name{
    display: flex;
    justify-content: space-between;
}

.types{
    display: flex;
    padding-top: 4px;
}

.types div{
    margin: 3px;
}

.grass{
    background-color: #27a52b;
    border-radius: 3px;
    width: 70px;
    padding: 3px;
    text-align: center;
}

.fire{
    background: linear-gradient(to bottom, #f19c1c, #ff0000); /* rojo a blanco */
    border-radius: 3px;
    width: 70px;
    padding: 3px;
    text-align: center;
}

.steel{
    background: linear-gradient(to bottom, #d1d1d1, #858484); /* rojo a blanco */
    border-radius: 3px;
    width: 70px;
    padding: 3px;
    text-align: center;
}

.electric{
    background-color: #e2df1f;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.poison{
    background-color: #be20dd;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.flying{
    background-color: #a282f9;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.bug{
    background-color: #91d335;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.water {
    background-color: #6890f0;
    border-radius: 3px;
    width: 70px;
    padding: 3px;
    text-align: center;
}

.normal {
    background-color: #868686;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.ground{
    background-color: #c3b27e;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.fighting{
    background-color: #e11b1b;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.dark{
    background-color: #505050;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}



.type p{
    font-size: 8px;
}

.pokemons-cards:hover .image img{
    top: 45%;
    width: 220px;
    transition: 0.3s ease;

}

.pokemons-cards:hover .ability{
    opacity: 1;
    max-height: 200px; /* ajusta este valor según el contenido */
}

.ability {
    opacity: 1;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    margin-top: 9px;
}

.ability ul{
    margin-top: 9px;
}

.ability ul li{
    list-style: none;
    margin: 4px;
    background-color: #e7e7dd;
    padding: 5px;
    color: #676668;
    border-radius: 2px;
}



/* area footer */

footer{
    display: flex;
    height: 170px;
    background-image: url("assets/grasshdv2.png");
    background-size:cover;
    background-position:initial;
    background-repeat: no-repeat;
    align-items:end;
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

footer p{
    font-size: 13px;
    width: 500px;
}

#nintendo-watermark{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nintendologo{
    filter: brightness(0) invert(1);
}